@use "../variables" as *;
@use "../mixins";

.card {
  @include mixins.flex(column);
  border: 0;
  border-radius: $defaultBorderRadius;
  background-color: $primary;
  color: white;
  padding: $defaultPadding;
  min-height: 648px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;

  &_full {
    flex-direction: row;
    background-color: transparent;
    min-height: auto;
    padding: 0;
    overflow: visible;

    .card__title {
      flex-grow: 0;
    }
    
    .card__column {
      padding: 0 calc($defaultPadding + 2rem) 0 0;
    }
  }

  &_compact {
    flex-direction: row;
    background-color: transparent;
    align-items: center;
    border-radius: 0;
    min-height: auto;
    overflow: visible;

    .card__title {
      flex-grow: 1;
    }
  }

  &__column {
    @include mixins.flex(column);
    align-items: flex-start;
  }

  &__row {
    @include mixins.flex(row);
    align-items: center;
    gap: $defaultPadding;
  }

  &__image {
    width: 390px;
    height: 390px;
    aspect-ratio: 1;
    object-fit: contain;
    margin: 3.75rem auto;
    display: block;
    background-color: transparent;
    transition: opacity 0.2s ease;
    flex-shrink: 0;
    
    &[loading] {
      opacity: 0.7;
    }
    
    &:not([loading]) {
      opacity: 1;
    }
    
    &[src*="data:"] {
      opacity: 0;
    }
    
    &:not([src*="data:"]) {
      opacity: 1;
    }

    &_full {
      width: 450px;
      height: 450px;
      margin: 0 $defaultPadding 0 0;
      margin-right: calc($defaultPadding + 2rem); // Отступ для кнопки закрытия
    }
  }
  
  &__title {
    font-size: $titleFontSize;
    font-weight: 500;
    margin: 0;
    flex-grow: 1;
    text-align: left;
  }

  &__text {
    font-size: $mainFontSize;
    font-weight: 400;
    text-align: left;
    flex-grow: 1;
  }

  &__category {
    align-self: flex-start;
    padding: 0.5rem 1.25rem;
    border-radius: 2.5rem;
    margin-bottom: 12px;
    color: $primary;

    &_soft {
      background-color: $category1;
    }
    &_hard {
      background-color: $category5;
    }
    &_other {
      background-color: $category2;
    }
    &_additional {
      background-color: $category3;
    }
    &_button {
      background-color: $category4;
    }
  }

  &__price {
    font-size: $mainFontSize;
    text-align: left;
  }
}